*, :before, :after {
    box-sizing: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    
    transition-duration: .3s;
    transition-property: none;
    
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(1, 255, 112, .5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #01ff70;
}

::selection {
    background-color: #01ff70;
    color: black;
}

:focus {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    padding-top: 100px;
    font-size: 17px;
    background-color: #111;
    color: rgba(255, 255, 255, .9);
}

h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1;
    float: left;
    color: #fff;
}

h1 span {
    font-weight: 200;
}

h4 {
    font-size: 1.2em;
    color: #01ff70;
}

a {
    color: #01ff70;
    transition-property: color;
    cursor: pointer;
}

a:hover {
    color: #00CC3D;
}

del {
    text-decoration: line-through;
}

iframe {
    border: none;
}

blockquote {
    color: rgba(255, 255, 255, .8);
    border-left: 3px solid rgba(255, 255, 255, .3);
    padding-left: 5px;
}

blockquote p {
    color: inherit !important;
}

ul, ol {
    list-style: none;
}

input, select, button {
    background-color: rgba(255, 255, 255, .3);
    border: none;
    padding: 5px;
    display: inline-block;
}

input::-webkit-calendar-picker-indicator { /* hide datalist dropdown arrow */
    display: none;
}

button {
    cursor: pointer;
}

select:focus option {
    color: #000;
}

hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, .3);
}

.loading {
    background-image: url(/img/ui/loading.svg);
    background-size: 30px;
}

.scroll-locked {
    overflow: hidden;
}

header {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    
    background-color: rgba(51, 51, 51, .9);
    
    padding: 10px;
}

header, .fixed-subreddit-info #subreddit-info {
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

header button, header input, header select, #filters {
    float: right;
    display: inline-block;
}

header button {
    width: 35px;
    height: 35px;
    background-color: transparent;
    background-size: 30px;
}

#filters, header button {
    margin-left: 20px;
}

.refresh {
    background-image: url(/img/ui/refresh.svg);
}

#stream {
    padding: 0 40px;
    padding-bottom: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#stream.loading {
    background-position: bottom center;
}

.post {
    display: block;
    padding: 20px;
    margin: 10px 0;
    width: 480px;
    background-color: #111;
}

.post.stickied h3:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -27px;
    margin-top: 7px;
    
    background-size: contain;
    background-image: url(/img/ui/pin.png);
}

.post.expanded {
    position: fixed !important;
    z-index: 2;
    left: 0 !important;
    top: 0 !important;
    margin-top: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    padding: 50px;
    padding-top: 150px;
}

.post h3 {
    font-size: 1.5em;
    font-weight: 600;
    display: inline;
    position: relative;
}

.vote-container, .preview, .post-info {
    margin: 10px 0;
}

.post-info, .comment-info {
    font-weight: 300;
    color: rgba(255, 255, 255, .8);
}

.post-info a, .comment-info a, .comment-info span {
    display: inline-block;
    margin: 0 5px;
    color: inherit;
    
    transition-property: color;
}

.post-info a:hover, .comment-info a:hover {
    color: #fff;
}

.preview {
    display: none;
    overflow: hidden;
    cursor: pointer;
}

.post.expanded .preview {
    cursor: auto;
}

.preview h1, .preview h2, .preview h3, .preview h4, .preview h5, .preview h6 {
    font-size: 1em;
}

.preview > * {
    width: 100%;
}

.preview p {
    word-wrap: break-word;
}

.preview img {
    background-color: #fff;
}

.preview img, .preview video, .preview iframe {
    margin-top: 5px;
}

.preview ul, .preview ol {
    margin-left: 20px;
    list-style: disc;
}

.preview .selftext-container {
    max-height: 300px;
}

.preview .selftext-container.overflow {
    -webkit-mask-image: linear-gradient(black calc(100% - 20px), transparent);
}

.preview.visible {
    display: block;
}

.expanded .preview .selftext-container {
    max-height: none;
    -webkit-mask-image: none;
}

#time-input {
    display: none;
}

#time-input.visible {
    display: initial;
}

#subreddit-list-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    width: calc(100% - 45px);
    overflow-x: auto;
    
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, .3), #000 10px, #000 calc(100% - 10px), rgba(0, 0, 0, .3));
}

#subreddit-list {
    white-space: nowrap;
}

#subreddit-list.loading {
    background-size: 20px;
    background-position: 115px center;
}

#subreddit-list li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    box-shadow: inset 0 0 transparent;
    
    transition-property: box-shadow, color;
}

#subreddit-list li:first-child {
    margin-left: 10px;
}

#subreddit-list li:last-child {
    margin-right: 10px;
}

#subreddit-list li:hover {
    box-shadow: inset 0 -2px #01FF70;
}

#subreddit-list li.current {
    box-shadow: inset 0 -40px #01FF70;
    color: #000;
}

.vote {
    transition-property: opacity;
}

.vote.up, .vote.down {
    opacity: .5;
}

.vote.up:hover, .vote.down:hover, .vote.save:hover {
    opacity: .7 !important;
}

.vote.up.yes, .vote.down.yes, .vote.save.yes {
    opacity: 1 !important;
}

.vote.up {
    background-image: url(/img/ui/upvote.svg);
}

.vote.down {
    background-image: url(/img/ui/downvote.svg);
}

.vote.up.yes {
    background-image: url(/img/ui/upvote-active.svg);
}

.vote.down.yes {
    background-image: url(/img/ui/downvote-active.svg);
}

.vote.save {
    background-image: url(/img/ui/star.svg);
}

.vote.save.yes {
    background-image: url(/img/ui/star-active.svg);
}

.post .vote, .post-score {
    margin: 0 5px;
}

.post .vote {
    display: inline-block;
    
    background-color: transparent;
    font-size: 2em;
    width: 25px;
    height: 25px;
    margin: 5px 10px;
    
    background-size: contain;
}

.post-info :first-child, .vote-container :first-child, .comment-info :first-child {
    margin-left: 0;
}

.post .vote.save {
    background-size: 20px;
    opacity: 0;
}

.post:hover .vote.save {
    opacity: .5;
}

.post-score {
    padding: 7px 0;
    vertical-align: 2px;
}

#subreddit-info {
    width: 100%;
    height: 93px;
    padding: 30px;
    background-color: #222;
    text-align: center;
    color: #fff;
}

#subreddit-info.loading * {
    display: none;
}

#subreddit-info.hidden {
    display: none;
}

#subreddit-info h2 {
    margin-left: 50px;
    font-size: 1.5em;
    font-weight: 600;
    display: inline-block;
}

.fixed-subreddit-info {
    padding-top: 93px;
}

.fixed-subreddit-info #subreddit-info {
    position: fixed;
    top: 0;
    margin-top: 100px;
    z-index: 1;
}

#subscribe-btn {
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

#subscribe-btn.subscribed:hover {
    background-color: #FF4136;
}

#subscribe-btn:before {
    content: "+";
}

#subscribe-btn.subscribed:before {
    content: "\2713";
}

#subscribe-btn.subscribed:hover:before {
    content: "\00D7";
}

#goto-subreddit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45px;
    height: 45px;
    padding: 0 10px;
    cursor: pointer;
    color: transparent;
    
    background-color: transparent;
    background-image: url(/img/ui/input.svg);
    
    transition-property: width, background, color;
}

#goto-subreddit::-webkit-input-placeholder {
    color: transparent;
}

#goto-subreddit:focus {
    width: 200px;
    background-color: #444;
    background-image: none;
    color: #fff;
    cursor: text;
}

#goto-subreddit:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
}

.comments-container {
    margin-top: 30px;
    display: none;
}

.comments-container, .selftext-container {
    max-width: 750px;
}

.expanded .comments-container {
    display: block;
}

.comments-container.loading {
    padding-bottom: 40px;
    background-position: left bottom;
}

.comment-container {
    margin: 10px 0;
}

.comment-container.loading {
    width: 60px;
    height: 20px;
    background-size: 20px;
}

.comment-container.loading * {
    display: none;
}

.comment-container .comment-container {
    padding-left: 20px;
    border-left: 2px solid rgba(1, 255, 112, .5);
}

.comment-body-container {
    margin: 15px 0;
}

.comment-body-container p, .selftext-container p {
    margin: 8px 0;
}

.comment-container .vote {
    width: 20px;
    height: 20px;
}

.comment-info-author.op {
    color: #000 !important;
    background-color: #39CCCC !important;
    padding: 0 5px !important;
}

.close-post {
    display: none;
    position: fixed;
    right: 0;
    top: 100px;
    margin: 10px;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 0.5;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.5em;
}

.close-post:before {
    content: "\00D7";
    font-size: 1.5em;
}

.expanded .close-post {
    display: block;
}