/* 
    COLOR PALETTE
    
    accent orange: #FF851B rgb(255, 133, 27)

    background: #DDD rgb(221, 221, 221)
    darker background: #CCC rgb(204, 204, 204)
    header: #BBB rgb(187, 187, 187)
*/

*, :before, :after {
    box-sizing: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    
    transition-duration: .3s;
    transition-property: none;
    
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #FF851B;
}

::selection {
    background-color: #FF851B;
    color: #fff;
}

:focus {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    padding-top: 100px;
    font-size: 17px;
    background-color: #DDD;
    color: rgba(0, 0, 0, .9);
}

h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1;
    float: left;
    color: #fff;
}

h1 span {
    font-weight: 200;
}

h4 {
    font-size: 1.2em;
    color: #FF851B;
}

a {
    color: #CC5F00;
    transition-property: color;
    cursor: pointer;
}

a:hover, .post:hover h3 {
    color: #FF851B;
}

del {
    text-decoration: line-through;
}

iframe {
    border: none;
}

sup {
    font-size: smaller;
}

blockquote {
    color: rgba(0, 0, 0, .8);
    border-left: 3px solid rgba(0, 0, 0, .3);
    padding-left: 5px;
}

blockquote p {
    color: inherit !important;
}

ul, ol {
    list-style: none;
}

input, select, button {
    background-color: rgba(0, 0, 0, .3);
    border: none;
    padding: 5px;
    display: inline-block;
    color: rgba(255, 255, 255, .8);
}

input::-webkit-calendar-picker-indicator { /* hide datalist dropdown arrow */
    display: none;
}

button {
    cursor: pointer;
}

select:focus option {
    color: #000;
}

hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, .3);
}

.loading {
    background-image: url(/img/ui/loading.svg);
    background-size: 30px;
}

.scroll-locked {
    overflow: hidden;
}

.invisible {
    display: none;
}

header {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    
    background-color: #FF851B;
    color: rgba(0, 0, 0, .8);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    
    padding: 10px;
}

.header-btn * {
    opacity: 0;
    cursor: inherit;
}

.header-btn {
    float: right;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 20px;
    background-color: transparent;
    background-size: 30px;
    cursor: pointer;
    overflow: hidden;
}

.header-btn.refresh {
    background-image: url(/img/ui/refresh.svg);
}

.header-btn.sort {
    background-image: url(/img/ui/sort.svg);
}

#sort-container {
    padding: 10px;
    background-color: #FF851B;
}

#sort-container select {
    background-color: rgba(255, 255, 255, .3);
}

#sort-container select:not(:first-child) {
    margin-top: 10px;
}

#sort-container select.visible {
    display: block;
}

#stream {
    padding: 20px 40px;
    padding-bottom: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow-x: hidden;
}

#stream.loading {
    background-position: bottom center;
}

.post {
    display: block;
    padding: 20px;
    margin: 25px 0;
    width: 480px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    
    transition-property: box-shadow;
}

.post:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.post.stickied h3:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -27px;
    margin-top: 7px;
    
    background-size: contain;
    background-image: url(/img/ui/pin.png);
}

.post.expanded {
    position: fixed !important;
    z-index: 2;
    left: 0 !important;
    top: 0 !important;
    margin-top: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    padding: 50px;
    padding-top: 150px;
}

.post h3 {
    font-size: 1.5em;
    font-weight: 400;
    display: inline;
    position: relative;
    
    transition-property: color;
}

.vote-container, .preview, .post-info {
    margin: 10px 0;
}

.post-info, .comment-info {
    font-weight: 300;
    color: rgba(0, 0, 0, .8);
}

.post-info a, .comment-info a, .comment-info span {
    display: inline-block;
    margin: 0 5px;
    color: inherit;
    
    transition-property: color;
}

.preview {
    display: none;
    overflow: hidden;
    cursor: pointer;
}

.post.expanded .preview {
    cursor: auto;
}

.preview h1, .preview h2, .preview h3, .preview h4, .preview h5, .preview h6 {
    font-size: 1em;
}

.preview > * {
    width: 100%;
}

.preview p {
    word-wrap: break-word;
}

.preview img {
    background-color: #fff;
}

.preview img, .preview video, .preview iframe {
    margin-top: 5px;
}

.preview ul, .preview ol {
    margin-left: 20px;
    list-style: disc;
}

.preview .selftext-container {
    max-height: 300px;
}

.preview .selftext-container.overflow {
    -webkit-mask-image: linear-gradient(black calc(100% - 20px), transparent);
}

.preview.visible {
    display: block;
}

.expanded .preview .selftext-container {
    max-height: none;
    -webkit-mask-image: none;
}

#time-input {
    display: none;
}

#time-input.visible {
    display: block;
}

#subreddit-list-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    width: calc(100% - 45px);
    overflow-x: auto;
    
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, .3), #000 10px, #000 calc(100% - 10px), rgba(0, 0, 0, .3));
}

#subreddit-list-container::-webkit-scrollbar {
    display: none;
}

#subreddit-list {
    white-space: nowrap;
}

#subreddit-list.loading {
    background-image: url(/img/ui/loading-white.svg);
    background-size: 20px;
    background-position: 115px center;
}

#subreddit-list li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
    box-shadow: inset 0 0 transparent;
    
    transition-property: box-shadow, background;
}

#subreddit-list li:first-child {
    margin-left: 10px;
}

#subreddit-list li:last-child {
    margin-right: 10px;
}

#subreddit-list li:hover, #subreddit-list li.current {
    background-color: rgba(255, 255, 255, .3);
}

#subreddit-list li.current {
    box-shadow: inset 0 -2px #FFF;
}

.vote {
    transition-property: opacity;
}

.vote.up, .vote.down, .post:hover .vote.save {
    opacity: .3;
}

.vote.up:hover, .vote.down:hover, .vote.save:hover {
    opacity: .7 !important;
}

.vote.up.yes, .vote.down.yes, .vote.save.yes {
    opacity: 1 !important;
}

.vote.up {
    background-image: url(/img/ui/upvote.svg);
}

.vote.down {
    background-image: url(/img/ui/downvote.svg);
}

.vote.up.yes {
    background-image: url(/img/ui/upvote-active.svg);
}

.vote.down.yes {
    background-image: url(/img/ui/downvote-active.svg);
}

.vote.save {
    background-image: url(/img/ui/star.svg);
}

.vote.save.yes {
    background-image: url(/img/ui/star-active.svg);
}

.post .vote, .post-score {
    margin: 0 5px;
}

.post .vote {
    display: inline-block;
    
    background-color: transparent;
    font-size: 2em;
    width: 25px;
    height: 25px;
    margin: 5px 10px;
    
    background-size: contain;
}

.post-info :first-child, .vote-container :first-child, .comment-info :first-child {
    margin-left: 0;
}

.post .vote.save {
    background-size: 20px;
    opacity: 0;
}

.post-score {
    padding: 7px 0;
    vertical-align: 2px;
}

#subreddit-info {
    width: 100%;
    min-height: 93px;
    padding: 30px;
    background-color: #FFF;
    text-align: center;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

#subreddit-info.loading * {
    display: none;
}

#subreddit-info.hidden {
    display: none;
}

#subreddit-info h2 {
    margin-left: 50px;
    font-size: 1.5em;
    font-weight: 400;
    display: inline-block;
}

.fixed-subreddit-info {
    padding-top: 93px;
}

.fixed-subreddit-info #subreddit-info {
    position: fixed;
    top: 0;
    margin-top: 100px;
    z-index: 1;
}

#subscribe-btn {
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

#subscribe-btn.subscribed:hover {
    background-color: #FF4136;
}

#subscribe-btn:before {
    content: "+";
}

#subscribe-btn.subscribed:before {
    content: "\2713";
}

#subscribe-btn.subscribed:hover:before {
    content: "\00D7";
}

#goto-subreddit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45px;
    height: 45px;
    padding: 0 10px;
    cursor: pointer;
    color: transparent;
    
    background-color: transparent;
    background-image: url(/img/ui/input.svg);
    
    transition-property: width, background, color;
}

#goto-subreddit::-webkit-input-placeholder {
    color: transparent;
}

#goto-subreddit:focus {
    width: 200px;
    background-color: #444;
    background-image: none;
    color: #fff;
    cursor: text;
}

#goto-subreddit:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .5);
}

.comments-container {
    margin-top: 30px;
    display: none;
}

.comments-container, .selftext-container {
    max-width: 750px;
}

.expanded .comments-container {
    display: block;
}

.comments-container.loading {
    padding-bottom: 40px;
    background-position: left bottom;
}

.comment-container {
    margin: 10px 0;
}

.comment-container.loading {
    width: 60px;
    height: 20px;
    background-size: 20px;
}

.comment-container.loading * {
    display: none;
}

.comment-container .comment-container {
    padding-left: 20px;
    border-left: 2px solid rgba(255, 133, 27, .5);
}

.comment-body-container {
    margin: 15px 0;
}

.comment-body-container p, .selftext-container p {
    margin: 8px 0;
}

.comment-body {
    word-wrap: break-word;
}

.comment-container .vote {
    width: 20px;
    height: 20px;
}

.comment-info-author.op {
    color: #000 !important;
    background-color: #39CCCC !important;
    padding: 0 5px !important;
}

.close-post {
    display: none;
    position: fixed;
    right: 0;
    top: 100px;
    margin: 10px;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 0.5;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.5em;
    color: #FF851B;
}

.close-post:before {
    content: "\00D7";
    font-size: 1.5em;
}

.expanded .close-post {
    display: block;
}

/* dropdown stuff */
.dropdown {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    z-index: 4;
    
    opacity: 0;
    pointer-events: none;
    margin-right: -10px;
    
    transition-property: opacity, margin;
}

.dropdown.visible {
    opacity: 1;
    pointer-events: auto;
    margin-right: 0;
}

@media only screen and (max-width: 720px) {
    #stream {
        padding: 0 20px;
        width: 100% !important;
    }
    
    .post {
        width: 100%;
        position: relative !important;
        left: auto !important;
        top: auto !important;
        padding: 0;
        padding-bottom: 20px;
    }
    
    .post.expanded {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .post h3 {
        font-size: 1.3em;
    }
    
    #subreddit-info {
        white-space: nowrap;
        padding: 10px;
        overflow-x: auto;
        min-height: 56px;
        position: relative;
        text-align: left;
    }
    
    #subreddit-info h2 {
        font-weight: 300;
    }
    
    #subscribe-btn {
        position: absolute;
        left: 0;
        margin-left: 15px;
    }
}